@use '../../abstracts/index.scss' as *;

.footerWrapper {
    background: colors('footer-background');
    color: colors('white');
    padding: 32px 32px 49px;
}

.footerNavigationWrapper {
    @include generalMaxWidth();

    display: flex;
    justify-content: space-between;
}

.footerNavigation {
    display: flex;
    align-items: flex-end;
    gap: 100px;
}

.footerNavigationByLink {
    .footerNavigationByLinkNavWrapper {
        display: flex;
        gap: 50px;

        a:hover {
            color: colors('third');
        }
    }
}

.footerNavigationBySocialMedia {
    .footerNavigationBySocialMediaNavWrapper {
        display: flex;
        gap: 8px;

        a {
            display: flex;
            width: 28px;
            height: 28px;
            justify-content: center;
            align-items: center;
        }

        a:hover {
            background: colors('white');
            border-radius: 50%;

            svg path {
                fill: colors('black');
            }
        }
    }
}

.footerCopyright {
    @include generalMaxWidth();
    @include webFont(13px, 120%, 400);

    border-top: 1px solid colors('footer-line');
    text-align: center;
    padding-top: 13px;
    margin-top: 27px;
}
