@use '../../abstracts/index.scss' as *;

.footerWrapper {
    @include generalMaxWidth();

    background: colors('footer-background');
    color: colors('white');
    padding-top: 16px;
    padding-bottom: 22px;
}

.footerNavigationWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 31px;
}

.footerNavigationLogoWrapper {
    display: flex;
    justify-content: center;
}

.footerNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerNavigationByLink {
    .footerNavigationByLinkNavWrapper {
        display: flex;
        gap: 50px;

        a:hover {
            color: colors('third');
        }
    }
}

.footerCopyright {
    @include generalMaxWidth();
    @include webFont(13px, 120%, 400);

    border-top: 1px solid colors('footer-line');
    text-align: center;
    padding-top: 13px;
    margin-top: 27px;
}

@include from-breakpoint("medium") {
    .footerWrapper {
        padding: 32px 32px 49px;
    }

    .footerNavigationWrapper {
        @include generalMaxWidth();

        flex-direction: row;
        gap: unset;
    }

    .footerNavigation {
        display: flex;
        align-items: flex-end;
        gap: 100px;
    }
}
