@use '../../abstracts/index.scss' as *;

.footerWrapper {
    background: colors('footer-background');
    color: colors('white');
    padding: 32px 32px 49px;
}

.footerNavigationWrapper {
    display: flex;
    justify-content: space-between;
}

.footerNavigation {
    display: flex;
    align-items: flex-end;
    gap: 100px;
}

.footerNavigationByLink {
    .footerNavigationByLinkNavWrapper {
        display: flex;
        gap: 50px;
    }
}

.footerNavigationBySocialMedia {
    .footerNavigationBySocialMediaNavWrapper {
        display: flex;
        gap: 8px;
    }
}

.footerCopyright {
    @include webFont(13px, 120%, 400);

    border-top: 1px solid #E8E6E6;
    text-align: center;
    padding-top: 13px;
    margin-top: 27px;
}
