@use '../../abstracts/index.scss' as *;

.customerRightsWrapper {
  margin: 32px auto;
  @include generalMaxWidth();
}

.customerRightsHeader {
  text-align: center;
  @include webFont(28px, 120%, 300);
}

.customerRightsList {
  @include webFont(18px, 140%, 300);
}

@include from-breakpoint("large") {
  .customerRightsWrapper {
    padding: 40px 24px;
  }

  .customerRightsHeader {
    text-align: left;
  }
}
