@use '../../abstracts/index.scss' as *;

.customerRightsWrapper {
  @include generalMaxWidth();
  margin: 32px 0;
}

.customerRightsHeader {
  @include webFont(28px, 120%, 300);
  text-align: center;
}

.customerRightsList {
  @include webFont(18px, 140%, 300);
}

@include from-breakpoint("large") {
  .customerRightsWrapper {
    padding: 40px 24px;
  }

  .customerRightsHeader {
    text-align: left;
  }
}
