@use "../../abstracts/index.scss" as *;

.header {
    @include generalMaxWidth();

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 42px;
}
