@use '../../abstracts/index.scss' as *;

.informationWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 32px 0;
    flex-direction: column;
}

.informationCopyWrapper {
    @include generalMaxWidth();
}

.informationTitle {
    @include webFont(24px, 123%, 400);

    text-align: center;
    color: colors('headings');
    width: 100%;
    max-width: 464px;
    margin: 0;
}

.informationCopy {
    @include webFont(12px, 120%, 400);

    color: colors('copy');
    width: 100%;
    max-width: 464px;
    margin: 24px 0 0;
}

.informationConsultNow {
    margin: 24px 0 0;
    display: inline-block;
    max-width: 240px;
}

.informationImage {
    width: 100%;
}

.informationWrapperMainImage {
    line-height: 0;

    img {
        width: 100%;
    }
}

.informationWrapperImage {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 0;

    img {
        width: calc(100% - 70px);
    }
}

.isMainInformation {
    width: 100%;
    max-width: 286px;
    margin: 0 auto;
    text-align: center;

    .informationTitle {
        @include webFont(40px, 110%, 700);
    }

    .informationCopy {
        @include webFont(18px, 120%, 400);
    }
}

.informationWrapperReverse {
    .informationWrapperImage {
        justify-content: flex-start;
    }
}

@include from-breakpoint("large") {
    .informationWrapper {
        flex-direction: row;
        padding: 40px 0;
        gap: 24px;
    }

    .informationCopyWrapper {
        padding: 0 0 0 24px;
    }

    .informationTitle {
        @include webFont(28px, 120%, 400);

        color: colors('headings');
        width: 100%;
        text-align: left;
    }

    .informationCopy {
        @include webFont(18px, 22px, 400);

        color: colors('copy');
        width: 100%;
        margin: 24px 0 0;
    }

    .informationConsultNow {
        margin: 24px 0 0;
        max-width: unset;
    }

    .informationWrapperImage {
        img {
            width: 100%;
        }
    }

    .isMainInformation {
        text-align: initial;
        max-width: 351px;
        padding: 0 0 0 24px;

        .informationTitle {
            @include webFont(61px, 120%, 700);

            text-align: left;
            margin: 0;
        }

        .informationCopy {
            @include webFont(18px, 120%, 400);

            width: 100%;
            max-width: 299px;
            margin: 24px 0 0;
        }
    }

    .informationWrapperReverse {
        flex-direction: row-reverse;

        .informationCopyWrapper {
            padding: 0 24px 0 0;
        }
    }
}

@include from-breakpoint("large") {
    .informationWrapper {
        max-width: $x-large;
        padding: 56px 32px;
        margin: 0 auto;
        gap: 32px;
    }

    .informationImage {
        flex: 1;
    }

    .informationTitle {
        @include webFont(40px, 120%, 400);
    }

    .informationCopy {
        @include webFont(24px, 123%, 400);
    }

    .informationWrapperImage {
        img {
            max-width: 528px;
        }
    }

    .isMainInformation {
        max-width: 381px;
        padding: 0;

        .informationWrapperImage {
            img {
                max-width: 580px;
            }
        }
    }
}
