@use '../../abstracts/index.scss' as *;

.informationWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 32px 0;
    flex-direction: column;
}

.informationTitle {
    @include webFont(24px, 123%, 400);

    text-align: center;
    color: colors('headings');
    width: 100%;
    max-width: 464px;
    margin: 0;
}

.informationCopy {
    @include webFont(12px, 120%, 400);

    color: colors('copy');
    width: 100%;
    max-width: 464px;
    margin: 24px 0 0;
}

.isMainInformation {
    width: 100%;
    max-width: 286px;
    margin: 0 auto;
    text-align: center;

    .informationTitle {
        @include webFont(40px, 110%, 700);
    }

    .informationCopy {
        @include webFont(18px, 120%, 400);
    }
}

.informationConsultNow {
    margin: 24px 0 0;
    display: inline-block;
    width: 100%;
}

.informationWrapperMainImage {
    line-height: 0;

    img {
        width: 100%;
    }
}

.informationWrapperImage {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
        width: calc(100% - 70px);
    }
}

.informationWrapperReverse {
    .informationWrapperImage {
        justify-content: flex-start;
    }
}

@include from-breakpoint("medium") {
    .informationWrapper {
        flex-direction: row;
        padding: 0;
    }

    .informationWrapperReverse {
        flex-direction: row-reverse;
    }

    .informationTitle {
        @include webFont(40px, 120%, 400);

        color: colors('headings');
        width: 100%;
        max-width: 464px;
        margin: 0;
    }

    .informationCopy {
        @include webFont(24px, 120%, 400);

        color: colors('copy');
        width: 100%;
        max-width: 464px;
        margin: 24px 0 0;
    }

    .isMainInformation {
        text-align: initial;

        .informationTitle {
            @include webFont(61px, 120%, 700);

            width: 100%;
            max-width: 381px;
            margin: 0;
        }

        .informationCopy {
            @include webFont(18px, 120%, 400);

            width: 100%;
            max-width: 299px;
            margin: 24px 0 0;
        }
    }
}
