@use "../../abstracts/index.scss" as *;

.whatsappContainer {
  position: fixed;
  right: 16px;
  bottom: 30%;
  width: 40px;
  height: 40px;
}

@include from-breakpoint("large") {
  .whatsappContainer {
    width: 55px;
    height: 55px;
  }
}
