@use "../../abstracts/index.scss" as *;

.heroWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 32px 0;
  flex-direction: column;

  @include generalMaxWidth();
}

.heroCopy {
  padding: 32px;
  text-align: center;

  h2 {
    line-height: 120%;
    font-size: 32px;
  }
}

.heroImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 175 / 111;
  overflow: hidden;
}

.consultButton {
  display: block;
  width: fit-content;
  margin: 32px auto 0;
}

@include from-breakpoint("large") {
  .heroWrapper {
    flex-direction: row;
  }

  .heroCopy {
    flex: 1 0 45%;
    text-align: left;
    padding-left: 100px;
    line-height: 120%;

    h2 {
      line-height: 100%;
      color: colors("headings");
      font-size: 56px;
    }
  }

  .heroImageWrapper {
    transform: translateX(32px);
  }

  .consultButton {
    margin: 0;
  }
}
