@use '../../abstracts/index.scss' as *;

.ourLocationsHeading {
    @include webFont(40px, 120%, 400);

    text-align: center;
    margin: 0 0 42px;
}

.ourLocationsListWrapper {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    column-gap: 110px;
    row-gap: 35px;
    justify-content: space-between;
    max-width: 763px;
    margin: 0 auto;
}

.ourLocationsListItem {
    width: 100%;
}

.ourLocationsListItemHeading {
    @include webFont(16px, 120%, 700);

    color: colors('headings');
    margin: 16px auto 28px;
}

.ourLocationsListItemCopy,
.ourLocationsListItemPhoneNumber {
    @include webFont(16px, 120%, 400);

    color: colors('copy');
}

.ourLocationsListItemPhoneNumber {
    margin-top: 8px;
}

@include from-breakpoint("large") {
    .ourLocationsWrapper {
        max-width: 465px;
        margin: 0 auto;
    }

    .ourLocationsHeading {
        @include webFont(40px, 120%, 400);

        text-align: center;
        margin: 0 0 42px;
    }

    .ourLocationsListItem {
        width: 100%;
    }

    .ourLocationsListWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
