@mixin font($size: 14, $line: 18, $spacing: 0.1, $weight: 500) {
  $baseFont: 20;
  $fontSize: #{$size}px;
  $lineHeight: #{$line}px;
  $letterSpacing: #{$spacing}px;

  font-size: $fontSize;
  font-size: calculateRem($size, $baseFont) !important;
  line-height: $lineHeight;
  line-height: calculateRem($line, $baseFont) !important;
  font-weight: $weight !important;
  letter-spacing: $letterSpacing !important;
}

@mixin from-breakpoint($bp) {
  @if ($bp == "x-small") {
    @content;
  }
  @if ($bp == "ie-only") {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      @content;
    }
  } @else {
    @if map-has-key($breakpoints, $bp) {
      $list: map-get($breakpoints, $bp);
      $bp: nth($list, 1);
    }

    @media screen and (min-width: #{$bp}) {
      @content;
    }
  }
}

@mixin square($size: 60) {
  width: #{$size}px;
  height: #{$size}px;
}

@mixin webFont($font-size, $lineHeight, $font-weight: 400) {
  font-size: $font-size;
  line-height: $lineHeight;
  font-weight: $font-weight;
}

@mixin carouselActive() {
  background: colors('third');
  border: 1px solid colors('third');
}

@mixin generalMaxWidth($customPadding: 0 16px) {
  padding: $customPadding;
  max-width: $large;
  margin: 0 auto;

  @include from-breakpoint("medium") {
    padding: 0 32px;
  }
}
