// Mobile empieza en 320 hasta 779
// Tablet empieza 780-1023
// desktop 1024-1440

$iphone-five: 374px;
$x-small: 320px;
$small: 779px;
$medium: 780px;
$large: 1024px;

$breakpoints: (
  x-small: (
    null,
    $x-small - 1,
  ),
  small: (
    $x-small,
    $small - 1,
  ),
  medium: (
    $small,
    $medium - 1,
  ),
  large: (
    $medium,
    $large - 1,
  ),
  x-large: (
    $large,
    null,
  ),
);

$orientations: (
  portrait: portrait,
  landscape: landscape,
);

$colors: (
  "bg": "#fff",
  "black": #000,
  "white": #fff,
);

$zindex: (
  "base": 1,
  "menu": 2,
  "overlay": 3,
  "modal": 4,
  "toast": 5,
  "modal-overlay": 10100,
);
