// Mobile empieza en 320 hasta 779
// Tablet empieza 780-1023
// desktop 1024-1440

$iphone-five: 374px;
$x-small: 320px;
$small: 779px;
$medium: 780px;
$large: 1024px;
$x-large: 1440px;

$breakpoints: (
  x-small: (
    null,
    $x-small - 1,
  ),
  small: (
    $x-small,
    $small - 1,
  ),
  medium: (
    $small,
    $medium - 1,
  ),
  large: (
    $medium,
    $large - 1,
  ),
  x-large: (
    $large,
    null,
  ),
);

$orientations: (
  portrait: portrait,
  landscape: landscape,
);

$colors: (
  "bg": "#fff",
  "black": #000,
  "white": #fff,
  "secondary": #cf1b1b,
  "third": #e99696,
  "headings": #1a0505,
  "copy": #483737,
  "footer-background": #120404,
  "footer-line": #e8e6e6,
  "hover-focus-state": #bc1919,
  "active-state": #931313,
  "input-search-border-color": #968c8c,
  "border-separator-color": #b8b2b2,
  "search-items-hover-state": #fae8e8,
  "search-items-active-state": #f0b8b8,
);

$zindex: (
  "base": 1,
  "menu": 2,
  "overlay": 3,
  "modal": 4,
  "toast": 5,
  "modal-overlay": 10100,
);
