@import "./abstracts/index.scss";

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  //Prevent iOS text size adjust after orientation change, without disabling user zoom.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.2rem;
  height: 100%;

  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: colors("bg");

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.25em;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    @include from-breakpoint("large") {
      font-size: 18px;
    }

    @include from-breakpoint("large") {
      font-size: 20px;
    }
  }
}

.consultNow {
  @include webFont(16px, 100%, 700);

  background: transparent;
  color: colors('black');
  padding: 12px;
  border-radius: 50px;
  text-align: center;
}

.consultNow:hover,
.consultNow:focus,
.consultNow:active,
.consultNow.active {
  background: colors('secondary');
  color: colors('white');
}

.only-mobile {
  display: block;
  width: 100%;
}

.only-desktop,
.only-from-tablet {
  display: none;
}

@include from-breakpoint("large") {
  .only-from-tablet {
      display: block;
  }

  .only-mobile {
    display: none;
  }
}

@include from-breakpoint("x-large") {
  .only-desktop {
      display: block;
  }

  .only-mobile {
    display: none;
  }

  .consultNow {
    background: transparent;
    color: colors('black');
    padding: 12px 36px;
    border-radius: 50px;
  }
}
