@use "./abstracts/index.scss" as *;

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  //Prevent iOS text size adjust after orientation change, without disabling user zoom.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.2rem;
  height: 100%;

  body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: colors("bg");

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav {
      font-family: "Poppins", sans-serif;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.25em;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    @include from-breakpoint("large") {
      font-size: 18px;
    }

    @include from-breakpoint("large") {
      font-size: 20px;
    }
  }
}

.generalButton {
  
    color: colors("black");
    padding: 12px 0;
    text-align: center;
  @include webFont(16px, 100%, 400);
}

.generalButton:hover,
// .generalButton:focus,
// .generalButton.active,
.menu-active {
  color: colors("secondary");
}

.generalButton.isConsultNowButton {
  background: colors("secondary");
  color: colors("white");
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  padding: 12px 16px;
  border-radius: 50px;
  @include webFont(16px, 120%, 700);

  &:hover {
    background-color: colors('hover-focus-state')
  }
}

.only-mobile {
  display: block;
  width: 100%;
}

.only-desktop,
.only-from-tablet {
  display: none;
}

.loading-wrapper {
  text-align: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: colors("black");
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@include from-breakpoint("large") {
  .only-from-tablet {
    display: block;
    width: 50%;
  }

  .only-mobile {
    display: none;
  }
}

@include from-breakpoint("x-large") {
  .only-desktop {
    display: block;
  }

  .only-mobile {
    display: none;
  }
}
