@use "../../abstracts/index.scss" as *;

.navigationBySocialMediaNavWrapper {
    display: flex;
    gap: 8px;

    a {
        display: flex;
        width: 28px;
        height: 28px;
        justify-content: center;
        align-items: center;
    }

    a:hover {
        background: colors('white');
        border-radius: 50%;

        svg path {
            fill: colors('black');
        }
    }

    &.reverseLayout {
        flex-direction: row-reverse;
        justify-content: center;
    }

    &.isMenu {
        gap: 18px;
    }
}

@include from-breakpoint("medium") {
    .navigationBySocialMediaNavWrapper {
        &.isMenu {
            flex-direction: row;
            justify-content: flex-start;
            gap: 24px;
            padding: 0 0 0 32px;
        }
    }
}
