@use '../../abstracts/index.scss' as *;

.ourAlliesWrapper {
    margin: 88px 0 48px;
}

.ourAlliesHeading {
    @include webFont(40px, 120%, 400);

    text-align: center;
    margin: 0 0 42px;
}

.ourAlliesListWrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);;
    column-gap: 23px;
    row-gap: 23px;
}

.ourAlliesListItem {
    width: 97px;
    height: 97px;
}
