@use "../../abstracts/index.scss" as *;

.carouselWrapper {
  @include generalMaxWidth();

  position: relative;
  padding: 47px 0 56px;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.carouselHeading {
  @include webFont(28px, 110%, 400);

  text-align: center;
  margin: 0 0 56px;
}

.carousel {
  width: 100%;
  display: flex;
  transition: transform .3s linear;
  transform: translateX(0);
}

.carouselItem {
  width: 100%;
  flex-shrink: 0;
}

.carouselAction {
  display: none;
}

.carouselLeftButton {
  left: 46px;
}

.carouselRightButton {
  right: 46px;
}

.dotsWrapper {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 47px;
}

.dotsItem {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid rgba(51, 51, 51, 0.4);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  &:hover {
    @include carouselActive();
  }
}

.dotsItemActive {
  @include carouselActive();
}

@include from-breakpoint("large") {
  .carouselWrapper {
    padding: 50px 24px 56px
  }

  .carouselHeading {
    @include webFont(40px, 120%, 400);

    margin-bottom: 56px;
  }

  .carouselAction {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 37px;
    height: 37px;
    appearance: none;
    background: #FFFFFF;
    border: 0.5px solid rgba(138, 138, 138, 0.2);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: zindex('base');
    cursor: pointer;

    &:hover {
      background: rgba(138, 138, 138, 0.2);
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    }
  }

  .carouselLeftButton {
    left: 24px;
  }

  .carouselRightButton {
    right: 24px;
  }
}

@include from-breakpoint("x-large") {
  .carouselWrapper {
    padding: 47px 32px 56px
  }
}
