@use '../../abstracts/index.scss' as *;

.slideDownWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0 15px;
    align-items: center;
}

.slideDownCopy {
    @include webFont(16px, 120%, 400);
}

.slideDownIcon {
    appearance: none;
    border: 0;
    background: none;
    cursor: pointer;
    animation-name: slideDown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes slideDown {
    0% {
      transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

@include from-breakpoint("large") {
    .slideDownWrapper {
        padding: 48px 0;
    }
}
