@use "../abstracts/index.scss" as *;

.mainWrapper {
  @include generalMaxWidth();

  width: 100%;
  background: url("../../../public/img/background.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 260px;
}
