@use "../abstracts/index.scss" as *;

.mainWrapper {
  width: 100%;
  background: url("/img/layout/vector.png");
  background-repeat: no-repeat;
  background-position-x: 50px;
  background-position-y: 710px;
  overflow: hidden;
  padding-top: 60px;
}

.isOurTestPage {
  .mainWrapper {
    min-height: calc(100vh - 83px);
  }
}

@include from-breakpoint("large") {
  .mainWrapper {
    background-position-x: 260px;
    background-position-y: 710px;
  }
}

@include from-breakpoint("x-large") {
  .mainWrapper {
    background-position-x: 46vw;
    background-position-y: 370px;
  }
}


@media screen and (min-width: 1440px) {
  .mainWrapper {
    background-position-x: 57vw;
    background-position-y: 36px;
  }
}
