@use "../abstracts/index.scss" as *;

.mainWrapper {
  width: 100%;
  background-image: url("/img/layout/home-background.png");
  background-repeat: no-repeat;
  background-position-x: 50px;
  background-position-y: 710px;
  overflow: hidden;
}

.isOurTestPage {
  .mainWrapper {
    min-height: calc(100vh - 83px);
    background-image: url("/img/layout/our-test-background.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: 232px 597px;
    padding-top: 32px;
  }
}

@include from-breakpoint("large") {
  .mainWrapper {
    background-position-x: 260px;
    background-position-y: 710px;
  }

  .isOurTestPage {
    .mainWrapper {
      padding-top: 64px;
    }
  }
}

@include from-breakpoint("x-large") {
  .mainWrapper {
    background-position-x: 46vw;
    background-position-y: 370px;
  }

  .isOurTestPage {
    .mainWrapper {
      background-image: url("/img/layout/our-test-background-desktop.png");
      background-repeat: no-repeat;
      background-position-x: left;
      background-position-y: top;
      background-size: 362px 929px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .mainWrapper {
    background-position-x: 57vw;
    background-position-y: 36px;
  }
}
