@use "../../abstracts/index.scss" as *;

.ourServicesWrapper {
  padding: 50px 16px;
  @include generalMaxWidth();
}

.ourServicesHeading {
  max-width: 180px;
  text-align: center;
  margin: 0 auto 42px;
  @include webFont(32px, 120%, 400);
}

.ourServicesListWrapper {
  display: flex;
  text-align: center;
  gap: 33px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ourServicesListItemHeading {
  color: colors("headings");
  margin: 8px auto 28px;
  max-width: 190px;
  @include webFont(20px, 120%, 400);
}

.ourServicesListItemCopy {
  color: colors("copy");
  text-align: left;
  @include webFont(16px, 120%, 400);
}

@include from-breakpoint("large") {
  .ourServicesWrapper {
    padding: 42px 24px 56px;
  }

  .ourServicesHeading {
    max-width: unset;
    @include webFont(48px, 120%, 400);
  }

  .ourServicesListItemHeading {
    max-width: unset;
    @include webFont(24px, 123%, 400);
  }

  .ourServicesListItemCopy {
    text-align: center;
    @include webFont(16px, 120%, 400);
  }
}

@include from-breakpoint("x-large") {
  .ourServicesWrapper {
    padding: 40px 32px;
  }

  .navbar {
    display: flex;
    gap: 42px;
  }

  .ourServicesListWrapper {
    display: flex;
    text-align: center;
    gap: 33px;
  }

  .ourServicesListItemHeading {
    max-width: 190px;
  }
}

