@use '../../abstracts/index.scss' as *;

.ourServicesWrapper {
    @include generalMaxWidth();

    padding: 50px 16px;
}

.ourServicesHeading {
    @include webFont(40px, 120%, 400);

    max-width: 180px;
    text-align: center;
    margin: 0 auto 42px;
}

.ourServicesListWrapper {
    display: flex;
    text-align: center;
    gap: 33px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ourServicesListItemHeading {
    @include webFont(20px, 120%, 400);

    color: colors('headings');
    margin: 8px auto 28px;
    max-width: 190px;
}

.ourServicesListItemCopy {
    @include webFont(13px, 120%, 400);

    color: colors('copy');
    text-align: left;
}

@include from-breakpoint("large") {
    .ourServicesWrapper {
        padding: 42px 24px 56px;
    }

    .ourServicesHeading {
        @include webFont(48px, 120%, 400);

        max-width: unset;
    }

    .ourServicesListItemHeading {
        @include webFont(24px, 123%, 400);

        max-width: unset;
    }

    .ourServicesListItemCopy {
        @include webFont(16px, 120%, 400);

        text-align: center;
    }
}

@include from-breakpoint("x-large") {
    .ourServicesWrapper {
        margin: 90px 0;
    }

    .navbar {
        display: flex;
        gap: 42px;
    }

    .ourServicesListWrapper {
        display: flex;
        text-align: center;
        gap: 33px;
    }
}
